Dataset/Raw
Dataset/Metadata
Sectioning/GPT/Responses
SRS/Stats
Dataset/Creation/subset.csv
sectioned_data_2022_test.csv
sorted_sections.csv
sectioned_data_2022_improved.csv
sectioned_data_2022_improved_fullset.csv
ollama_processed_impr.csv
ollama_processed.csv
section_dict.csv
results_ollama.csv
test_preproc.csv
sectioned_data_2022_fullset.csv
bart_summ.csv
ollama_summ.csv
bart_summ_Centrale Raad van Beroep.csv
bart_summ_College van Beroep voor het bedrijfsleven.csv
bart_summ_Gemeenschappelijk Hof van Justitie van Aruba, Curaçao, Sint Maarten en van Bonaire, Sint Eustatius en Saba.csv
bart_summ_Gerecht in eerste aanleg van Curaçao.csv
bart_summ_Gerechtshof Amsterdam.csv
bart_summ_Gerechtshof Arnhem-Leeuwarden.csv
ollama_processed_College_van_Beroep_voor_het_bedrijfsleven.csv
bart_summ_Gerechtshof Den Haag.csv
Results/Sectioned/results_ollama_Centrale_Raad_van_Beroep.csv
Results/Sectioned/results_ollama_College_van_Beroep_voor_het_bedrijfsleven.csv
Results/Sectioned/results_ollama_Gerecht_in_Eerste_Aanleg_van_Aruba.csv
Results/Sectioned/results_ollama_Gerecht_in_Ambtenarenzaken_van_Aruba,_Curaçao,_Sint_Maarten_en_van_Bonaire,_Sint_Eustatius_en_Saba.csv
Results/Sectioned/results_ollama_Gemeenschappelijk_Hof_van_Justitie_van_Aruba,_Curaçao,_Sint_Maarten_en_van_Bonaire,_Sint_Eustatius_en_Saba.csv
Results/Sectioned/results_ollama_Gerecht_in_eerste_aanleg_van_Sint_Maarten.csv
Results/Sectioned/results_ollama_Gerecht_in_eerste_aanleg_van_Curaçao.csv
Results/Sectioned/results_ollama_Gerechtshof_Amsterdam.csv
Results/Sectioned/results_ollama_Gerechtshof_Arnhem-Leeuwarden.csv
Results/Sectioned/results_ollama_Raad_van_Beroep_in_Ambtenarenzaken_van_Aruba,_Curaçao,_Sint_Maarten_en_van_Bonaire,_Sint_Eustatius_en_Saba.csv
Results/Sectioned/results_ollama_Rechtbank_Oost-Brabant.csv
Results/Sectioned/post/ollama_processed_Centrale_Raad_van_Beroep.csv
Results/Sectioned/post/ollama_processed_College_van_Beroep_voor_het_bedrijfsleven.csv
Results/Sectioned/post/ollama_processed_Gemeenschappelijk_Hof_van_Justitie_van_Aruba,_Curaçao,_Sint_Maarten_en_van_Bonaire,_Sint_Eustatius_en_Saba.csv
Results/Sectioned/results_ollama_Rechtbank_Overijssel.csv
Results/Sectioned/results_ollama_Rechtbank_Noord-Nederland.csv
Results/Sectioned/results_ollama_Rechtbank_Gelderland.csv
Results/Sectioned/results_ollama_Rechtbank_Limburg.csv
Results/Sectioned/results_ollama_Gerechtshof_Den_Haag.csv
Results/Sectioned/results_ollama_Gerechtshof_'s-Hertogenbosch.csv
Results/Sectioned/post/ollama_processed_Gerechtshof_Amsterdam.csv
Results/Sectioned/post/ollama_processed_Gerechtshof_Arnhem-Leeuwarden.csv
Results/Sectioned/post/ollama_processed_Gerechtshof_Den_Haag.csv
Dataset/analysis_results.txt
Dataset/most_common_bigrams.png
Dataset/most_common_words.png
Dataset/nr_sentences.png
Dataset/nr_words.png
